<header>
  <div class="hop-logo">
    <img class="hop-circle-logo" src="/images/hop-logo-mark.png" alt="The Crafty Hop Hunter Logo" width="200" height="150">
  </div>
  
  {{> navbar }}
  
  <div class="social-sidebar">
    <div class="instagram-logo">
        <img src="/images/instagram-logo.png" alt="Instagram Logo"width="40" height="40">
    </div>
    <div class="facebook-logo">
        <img src="/images/facebook-logo.png" alt="Facebook Logo" width="40" height="40">
    </div>
  </div>    
</header>