{{> header }}

<main>
    <div class="banner-favorites">
      <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" class="full-logo" width="800" height="250">
    </div>
    <section id="randomBeer" class="about"></section>
  </main>

{{> footer}}