{{> header }}

<main>
  <div class="banner-home">
    <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" class="logo" width="800" height="250">
  </div>
  
  <div class="home">
    <div class="home-top">
  <h1>Calling all craft beer lovers!</h1>
      <br>
    <h2>Welcome to The Crafty Hop Hunter, where all your craft beer needs now lie at the tips of your fingertips.</h2>
      <br>
    <img src="images/home-taps.png" alt="Row of Taps" width="400" height="300">
    </div>

  <aside class="home-aside">
    <img src="images/home-glass-beer.png" alt="Single Glass of Beer" width="400" height="300">
    <h1>JUST ONE TAP.</h1>
    <a href="/login" class="login-button" type="submit">LOGIN</a>
  </aside>

  <div class="home-bottom">
    <p>We believe that craft beer and the sense of community it evokes go hand in hand—and that a strong community is vital to any city. So, we committed to making the search with just one tap!</p>
      <br> 
    <p>Whether a life-long beer enthusiast or a craft beer-newbie, our goal is for everyone to discover the beauty (and deliciousness) of craft beer…and to go out and experience it firsthand! Let us do the heavy lifting and remember, your new favorite hop might be closer than you think.</p>
  </div>
</div>
</main>

{{> footer}}