{{> header }}

<main>
  <div class="banner-login">
      <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" width="800" height="250">
  </div>
    <br>
    <br>
  
    <section id="login-section">
      <h1>JUST ONE TAP.</h1>
      <div class="login-section">
      <img src="images/hop-logo-red.png" class="search-logo" alt="The Crafty Hop Hunter Search Logo" width="300" height="225"> 
    
      <form id="loginForm" class="account-form" action="/api/users/login" method="POST">
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="USERNAME" required>
        </div>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="PASSWORD" required>
        </div>
        <button class="button">LOGIN</button>
      </form>
    </div>
    <h3>YOU MUST BE 21+ TO USE THIS SITE</h3>
    <h4><a href="/users" type="submit">Create an account</a></h4>
    </section>
</main>

{{> footer}}