{{> header }}

  <main>
    <div class="banner-search">
        <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" width="800" height="250">
    </div>
    
    <section class="search-section">
      <br>
      <br>
        <h2>Find the nearest brewery with just one tap.</h2>
          <img src="images/hop-logo-red.png" class="search-logo" alt="The Crafty Hop Hunter Search Logo" width="300" height="225"> 
      <div id="beer-app">
          <section id="beer"></section>
          <form id="brewery-form">

            <input name="search" id="input" type="text" placeholder="ENTER ZIP CODE" />

            <button class="button" type="submit">SEARCH</button>
          </form>
        </div>
      <br>
    </section>
  </main>

{{> footer}}